<!DOCTYPE html>
<html>
	<head>
		<title>Chat Window</title>
		<link rel="stylesheet" type="text/css" href="./../styles/chat.css">
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<button id="close">X</button>
				<h1>Chatting with Name</h1>
			</div>
			<textarea id="window" readonly></textarea>
			<div id="controls">
				<button id="pics">P</button>
				<form id="text">
					<input type="text" id="box">
					<input type="submit" value="submit" id="submit">
				</form>
				<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
				<script>
				    var socket = io.connect('http://localhost:8000');
				    socket.on('connect', function(data) {
				        socket.emit('join', 'IT IS ALIVE');
				    });
			</script>
			</div>
		</div>
	</body>
</html>
