<!DOCTYPE html>
<html>
	<head>
		<title>Chat Window</title>
		<link rel="stylesheet" type="text/css" href="./../styles/chat.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="./../scripts/chat.js"></script>
		<script src="./../scripts/pokepics.js"></script>
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<button id="close">X</button>
				<h1>Chatting with Name</h1>
			</div>
			<div id="window" readonly>
				What is this
			</div>
			<div id="controls">
				<button id="pics" onclick="pokepics()">P</button>
				<form id="text" onsubmit="return false">
					<input type="text" id="box" name="chat_input">
					<input type="button" value="submit" id="submit">
				</form>
			</div>
			<div id="popup"></div>
		</div>
	</body>
</html>
