<!DOCTYPE html>
<html>
	<head>
		<title>Chat Login</title>
		<link rel="stylesheet" type="text/css" href="./../styles/login.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
		<script src="./../scripts/login.js"></script>
	</head>
	<body>
		<div id="wrapper">
			<h1>Welcome to Chat!</h1>
			<form action="" method="post">
				<input type="text" name="name" placeholder="Enter Name" id="name">
				<input type="submit" value="Enter">
			</form>
		</div>
	</body>
</html>