<!DOCTYPE html>
<html>
	<head>
		<title>Chat Login</title>
	</head>
	<body>
		<div id="wrapper">
			<h1>Welcome to Chat!</h1>
			<form action="" method="post">
				<input type="text" name="name" value="Enter Name" id="name">
				<input type="submit" value="Enter">
			</form>
		</div>
	</body>
</html>